.btn-red {
  display: inline-block;
  padding: 16px 32px;
  background-color: #c41f2c;
  color: #f9d6e0;
  border-radius: 40px;
  margin-top: 8px;
}

.btn-red:hover {
  background-color: #80040fbb;
}
