.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 300px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px #dda15e;
  padding: 30px 0;
  margin-bottom: 30px;
}

.card img {
  width: 200px;
  border-radius: 50%;
}
